bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
/.idea/.idea.ExtendedSettingsPage/.idea/vcs.xml
/.idea/.idea.ExtendedSettingsPage/.idea/indexLayout.xml
/.idea/.idea.ExtendedSettingsPage/.idea/encodings.xml
/ExtendedSettingsPage.sln.DotSettings.user
/Library/ilpp.pid
/Properties/Thumbnail.png
/Properties/PublishConfiguration.xml
/Properties/PublishProfiles/UpdatePublishedConfiguration.pubxml
/Properties/PublishProfiles/PublishNewVersion.pubxml
/Properties/PublishProfiles/PublishNewMod.pubxml
/Properties/PublishProfiles/
/UI/node_modules/
/UI/.idea/misc.xml
/UI/.idea/modules.xml
/UI/.idea/vcs.xml
/UI/.idea/UI.iml
